[Unit]
Description=NodeISP Server
After=network.target

[Service]
ExecStart=/usr/bin/nodeispd
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target
